<div class="card">
    <div class="card-img">
        <img class="card-img-flag" src='{{flags.svg}}' alt="{{name}}" width="100" height="50">
        <h1 class="card-title title">{{name.common}}</h1>
    </div>
    <div class="card-info">
        <ul class="card-list list">
            <li class="card-info-item item">
                <p class="card-pre-text">Capital: </p>{{capital}}</li>
            <li class="card-info-item item">
                <p class="card-pre-text">Population: </p>{{population}}</li>
            <li class="card-info-item item">
                <p class="card-pre-text">Languages: </p>{{#each languages}}{{this}}{{#unless @last}},{{/unless}}{{/each}}</li>
        </ul>
    </div>
    </div>
